<!-- This page has the same HTML as 'Edit goal' page. The only difference is title name -->
<div class="goals-page">
<% if flash[:error].present? %>
  <div class="main-alert main-alert--error">
    <i class="main-alert__icon icon icon-triangle-warning"></i>
    <p class="main-alert__txt">
      <%= flash[:error] %>
    </p>
  </div>
<% end %>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-3">
        <h1 class="goals-page__title">Create a Goal</h1>

        <div class="create-goal__card main-card">
         <%= simple_form_for @goal, defaults: { label_html: { class: 'main-input__label' } } do |f| %>
  <%= f.input :title, input_html: { class: 'main-input__field' }, wrapper_html: { class: 'main-input' }, required: false %>
  <%= f.input :description, input_html: { class: 'main-input__field main-input__field--textarea', rows: 4 }, wrapper_html: { class: 'main-input' }, required: false %>
  <%= f.input :priority, selected: [ ['Low', 'low'] ], collection: [['Low', 'low'], ['Medium', 'medium'], ['High', 'high']], input_html: { class: 'main-input__field main-input__field--xs' }, wrapper_html: { class: 'create-goal__input-short  main-input' }  %>
  <%= f.input :due_date, as: :string, input_html: { class: 'main-input__field main-input__field--xs', type: 'date' }, wrapper_html: { class: 'create-goal__input-short  main-input' }, required: false %>
  <div class="create-goal__form-footer">
    <%= link_to goals_path do %>
      <button type="button" class="main-btn main-btn--xs main-btn--grey mr-16">Cancel</button>
    <% end %>
    <%= f.button :submit, class: 'main-btn main-btn--xs main-btn--submit' %>
  </div>
<% end %>
        </div>
      </div>
    </div>
  </div>
</div>