<!DOCTYPE html>
<html>
  <head>
    <title>RailsGirlsWorkshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class="main-wrap">
  <header class="main-header">
    <%= link_to root_path, { class: "main-header__logo" }  do %>
      <%=image_tag('logo.svg', alt: 'BeFocused')%>
    <% end %>
    <%= link_to root_path, { class: "icon-btn" }  do %>
      <i class="icon-btn__icon icon icon-circle-info"></i>
      <span class="icon-btn__txt">About</span>
    <% end %>
  </header>

  <main class="main-content">
    <%= yield %>
  </main>
</div>
  </body>
</html>
